@using System.Web.Optimization
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/PlantillaBack.cshtml";
}

<h2>Index</h2>
@*@Html.ActionLink("COSTAS", "Nombre_Costas", "BackCostas")
@Html.ActionLink("TIPO DE VIVIENDAS", "GetTiposVivienda", "BackTipoVivienda")
@Html.ActionLink("USUARIOS", "Usuarios", "BackUsuarios")
@Html.ActionLink("INFORMCIÓN DE VIVIENDAS", "Viviendas", "BackViviendas")*@



