
@{
    ViewBag.Title = "PaginaNoEncontrada";
    Layout = "~/Views/Shared/PlantillaBack.cshtml";
}


<h2 style="color:red">@ViewBag.Mensaje</h2>


<img style="width:500px;height:150px" src="~/Content/Back/images/access.jpg" />