@model RepositorioRentFlat.Context.Costas

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/PlantillaBack.cshtml";
}

<h2 style="color:red">Eliminar</h2>

<h3>¿Estás seguro que quieres eliminar?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
       

       

        <dt>
         Nombre de provincia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProvincia)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Eliminar", "EliminarCostas", new { id = Model.Cod_Provincia }, new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Volver", "Nombre_Costas")
    </div>
    }
</div>
