@using System.Web.Optimization
@{
    ViewBag.Title = "Alquiler";
}

@Styles.Render("~/propiedadesstyles")

<h2>Alquiler</h2>

<!-- Home Search -->
<div class="home_search">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_search_container">
                    <div class="home_search_content">
                        <form action="#" class="search_form d-flex flex-row align-items-start justfy-content-start">
                            <div class="search_form_content d-flex flex-row align-items-start justfy-content-start flex-wrap">
                                <div>
                                    <select class="search_form_select">
                                        <option disabled selected>For rent</option>
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                </div>
                                <div>
                                    <select class="search_form_select">
                                        <option disabled selected>All types</option>
                                        <option>Type 1</option>
                                        <option>Type 2</option>
                                        <option>Type 3</option>
                                        <option>Type 4</option>
                                    </select>
                                </div>
                                <div>
                                    <select class="search_form_select">
                                        <option disabled selected>City</option>
                                        <option>New York</option>
                                        <option>Paris</option>
                                        <option>Amsterdam</option>
                                        <option>Rome</option>
                                    </select>
                                </div>
                                <div>
                                    <select class="search_form_select">
                                        <option disabled selected>Bedrooms</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                                <div>
                                    <select class="search_form_select">
                                        <option disabled selected>Bathrooms</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                            </div>
                            <button class="search_form_button ml-auto">search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Properties -->

<div class="properties">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title">25 Properties found</div>
                <div class="section_subtitle">Search your dream home</div>
            </div>
        </div>
        <div class="row properties_row">

            <!-- Property -->
            <div class="col-xl-4 col-lg-6 property_col">
                <div class="property">
                    <div class="property_image">
                        <img src="~/Content/Front/images/property_1.jpg" alt="">
                        <div class="tag_featured property_tag"><a href="#">Featured</a></div>
                    </div>
                    <div class="property_body text-center">
                        <div class="property_location">Miami</div>
                        <div class="property_title"><a href="property.html">Sea view property</a></div>
                        <div class="property_price">$ 1. 234 981</div>
                    </div>
                    <div class="property_footer d-flex flex-row align-items-center justify-content-start">
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_1.png" alt=""></div><span>650 Ftsq</span></div>
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_2.png" alt=""></div><span>3 Bedrooms</span></div>
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_3.png" alt=""></div><span>3 Bathrooms</span></div>
                    </div>
                </div>
            </div>

            <!-- Property -->
            <div class="col-xl-4 col-lg-6 property_col">
                <div class="property">
                    <div class="property_image">
                        <img src="~/Content/Front/images/property_2.jpg" alt="">
                        <div class="tag_offer property_tag"><a href="#">Offer</a></div>
                    </div>
                    <div class="property_body text-center">
                        <div class="property_location">Los Angeles</div>
                        <div class="property_title"><a href="property.html">2 Floor Town House</a></div>
                        <div class="property_price">$ 1. 234 981</div>
                    </div>
                    <div class="property_footer d-flex flex-row align-items-center justify-content-start">
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_1.png" alt=""></div><span>650 Ftsq</span></div>
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_2.png" alt=""></div><span>3 Bedrooms</span></div>
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_3.png" alt=""></div><span>3 Bathrooms</span></div>
                    </div>
                </div>
            </div>

            <!-- Property -->
            <div class="col-xl-4 col-lg-6 property_col">
                <div class="property">
                    <div class="property_image">
                        <img src="~/Content/Front/images/property_3.jpg" alt="">
                        <div class="tag_featured property_tag"><a href="#">Featured</a></div>
                    </div>
                    <div class="property_body text-center">
                        <div class="property_location">Florida</div>
                        <div class="property_title"><a href="property.html">Vacation Home</a></div>
                        <div class="property_price">$ 1. 234 981</div>
                    </div>
                    <div class="property_footer d-flex flex-row align-items-center justify-content-start">
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_1.png" alt=""></div><span>650 Ftsq</span></div>
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_2.png" alt=""></div><span>3 Bedrooms</span></div>
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_3.png" alt=""></div><span>3 Bathrooms</span></div>
                    </div>
                </div>
            </div>

            <!-- Property -->
            <div class="col-xl-4 col-lg-6 property_col">
                <div class="property">
                    <div class="property_image">
                        <img src="~/Content/Front/images/property_4.jpg" alt="">
                        <div class="tag_new property_tag"><a href="#">New</a></div>
                    </div>
                    <div class="property_body text-center">
                        <div class="property_location">Miami</div>
                        <div class="property_title"><a href="property.html">Sea view property</a></div>
                        <div class="property_price">$ 1. 234 981</div>
                    </div>
                    <div class="property_footer d-flex flex-row align-items-center justify-content-start">
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_1.png" alt=""></div><span>650 Ftsq</span></div>
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_2.png" alt=""></div><span>3 Bedrooms</span></div>
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_3.png" alt=""></div><span>3 Bathrooms</span></div>
                    </div>
                </div>
            </div>

            <!-- Property -->
            <div class="col-xl-4 col-lg-6 property_col">
                <div class="property">
                    <div class="property_image">
                        <img src="~/Content/Front/images/property_5.jpg" alt="">
                    </div>
                    <div class="property_body text-center">
                        <div class="property_location">New York</div>
                        <div class="property_title"><a href="property.html">Sea view property</a></div>
                        <div class="property_price">$ 1. 234 981</div>
                    </div>
                    <div class="property_footer d-flex flex-row align-items-center justify-content-start">
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_1.png" alt=""></div><span>650 Ftsq</span></div>
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_2.png" alt=""></div><span>3 Bedrooms</span></div>
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_3.png" alt=""></div><span>3 Bathrooms</span></div>
                    </div>
                </div>
            </div>

            <!-- Property -->
            <div class="col-xl-4 col-lg-6 property_col">
                <div class="property">
                    <div class="property_image">
                        <img src="~/Content/Front/images/property_6.jpg" alt="">
                    </div>
                    <div class="property_body text-center">
                        <div class="property_location">Miami</div>
                        <div class="property_title"><a href="property.html">Sea view property</a></div>
                        <div class="property_price">$ 1. 234 981</div>
                    </div>
                    <div class="property_footer d-flex flex-row align-items-center justify-content-start">
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_1.png" alt=""></div><span>650 Ftsq</span></div>
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_2.png" alt=""></div><span>3 Bedrooms</span></div>
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_3.png" alt=""></div><span>3 Bathrooms</span></div>
                    </div>
                </div>
            </div>

            <!-- Property -->
            <div class="col-xl-4 col-lg-6 property_col">
                <div class="property">
                    <div class="property_image">
                        <img src="~/Content/Front/images/property_7.jpg" alt="">
                        <div class="tag_new property_tag"><a href="#">New</a></div>
                    </div>
                    <div class="property_body text-center">
                        <div class="property_location">Miami</div>
                        <div class="property_title"><a href="property.html">Sea view property</a></div>
                        <div class="property_price">$ 1. 234 981</div>
                    </div>
                    <div class="property_footer d-flex flex-row align-items-center justify-content-start">
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_1.png" alt=""></div><span>650 Ftsq</span></div>
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_2.png" alt=""></div><span>3 Bedrooms</span></div>
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_3.png" alt=""></div><span>3 Bathrooms</span></div>
                    </div>
                </div>
            </div>

            <!-- Property -->
            <div class="col-xl-4 col-lg-6 property_col">
                <div class="property">
                    <div class="property_image">
                        <img src="~/Content/Front/images/property_8.jpg" alt="">
                    </div>
                    <div class="property_body text-center">
                        <div class="property_location">San Francisco</div>
                        <div class="property_title"><a href="property.html">Sea view property</a></div>
                        <div class="property_price">$ 1. 234 981</div>
                    </div>
                    <div class="property_footer d-flex flex-row align-items-center justify-content-start">
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_1.png" alt=""></div><span>650 Ftsq</span></div>
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_2.png" alt=""></div><span>3 Bedrooms</span></div>
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_3.png" alt=""></div><span>3 Bathrooms</span></div>
                    </div>
                </div>
            </div>

            <!-- Property -->
            <div class="col-xl-4 col-lg-6 property_col">
                <div class="property">
                    <div class="property_image">
                        <img src="~/Content/Front/images/property_9.jpg" alt="">
                    </div>
                    <div class="property_body text-center">
                        <div class="property_location">Miami</div>
                        <div class="property_title"><a href="property.html">Sea view property</a></div>
                        <div class="property_price">$ 1. 234 981</div>
                    </div>
                    <div class="property_footer d-flex flex-row align-items-center justify-content-start">
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_1.png" alt=""></div><span>650 Ftsq</span></div>
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_2.png" alt=""></div><span>3 Bedrooms</span></div>
                        <div><div class="property_icon"><img src="~/Content/Front/images/icon_3.png" alt=""></div><span>3 Bathrooms</span></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="pagination">
                    <ul>
                        <li class="active"><a href="#">01.</a></li>
                        <li><a href="#">02.</a></li>
                        <li><a href="#">03.</a></li>
                        <li><a href="#">04.</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Newsletter -->

@*<div class="newsletter">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="~/Content/Front/images/newsletter.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="newsletter_content d-flex flex-lg-row flex-column align-items-start justify-content-start">
                    <div class="newsletter_title_container">
                        <div class="newsletter_title">Are you buying or selling?</div>
                        <div class="newsletter_subtitle">Search your dream home</div>
                    </div>
                    <div class="newsletter_form_container">
                        <form action="#" class="newsletter_form">
                            <input type="email" class="newsletter_input" placeholder="Your e-mail address" required="required">
                            <button class="newsletter_button">subscribe now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<!-- Footer -->

<footer class="footer">
    <div class="footer_main">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer_logo"><a href="#"><img src="~/Content/Front/images/logo_large.png" alt=""></a></div>
                </div>
                <div class="col-lg-9 d-flex flex-column align-items-start justify-content-end">
                    <div class="footer_title">Latest Properties</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 footer_col">
                    <div class="footer_about">
                        <div class="footer_about_text">Donec in tempus leo. Aenean ultricies mauris sed quam lacinia lobortis. Cras ut vestibulum enim, in gravida nulla. Curab itur ornare nisl at sagittis cursus.</div>
                    </div>
                </div>
                <div class="col-lg-3 footer_col">
                    <div class="footer_latest d-flex flex-row align-items-start justify-content-start">
                        <div><div class="footer_latest_image"><img src="~/Content/Front/images/footer_latest_1.jpg" alt=""></div></div>
                        <div class="footer_latest_content">
                            <div class="footer_latest_location">Miami</div>
                            <div class="footer_latest_name"><a href="#">Sea view property</a></div>
                            <div class="footer_latest_price">$ 1. 234 981</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 footer_col">
                    <div class="footer_latest d-flex flex-row align-items-start justify-content-start">
                        <div><div class="footer_latest_image"><img src="~/Content/Front/images/footer_latest_2.jpg" alt=""></div></div>
                        <div class="footer_latest_content">
                            <div class="footer_latest_location">Miami</div>
                            <div class="footer_latest_name"><a href="#">Town House</a></div>
                            <div class="footer_latest_price">$ 1. 234 981</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 footer_col">
                    <div class="footer_latest d-flex flex-row align-items-start justify-content-start">
                        <div><div class="footer_latest_image"><img src="~/Content/Front/images/footer_latest_3.jpg" alt=""></div></div>
                        <div class="footer_latest_content">
                            <div class="footer_latest_location">Miami</div>
                            <div class="footer_latest_name"><a href="#">Modern House</a></div>
                            <div class="footer_latest_price">$ 1. 234 981</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bar">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer_bar_content d-flex flex-row align-items-center justify-content-start">
                        <div class="cr">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                        <div class="footer_nav">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="properties.html">Properties</a></li>
                                <li><a href="news.html">News</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                        <div class="footer_phone ml-auto"><span>call us: </span>652 345 3222 11</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

@Scripts.Render("~/propiedadescripts")

