
<ul>
    
    <li class="menu_item"><a href="@Url.Action("Index","Home")">Home</a></li>
    <li class="menu_item"><a href="@Url.Action("AcercaDeNosotros","PaginasSecundarias")">Acerca de Nosotros</a></li>
    <li class="menu_item"><a href="@Url.Action("ListaPisosPorFiltro","Home")">Pisos en alquiler</a></li>
    @*<li class="menu_item"><a href="#">Tickets</a></li>*@
    @*<li class="menu_item"><a href="news.html">News</a></li>*@
    <li class="menu_item"><a href="@Url.Action("Contacto","PaginasSecundarias")">Contacto</a></li>
</ul>
