<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Renting" connectionString="metadata=res://*/Renting.csdl|res://*/Renting.ssdl|res://*/Renting.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7KN5JV1\SQLEXPRESS;initial catalog=Rent_Flat_BBDD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntidadRenting" connectionString="metadata=res://*/Context.EntidadRenting.csdl|res://*/Context.EntidadRenting.ssdl|res://*/Context.EntidadRenting.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7KN5JV1\SQLEXPRESS;initial catalog=Rent_Flat_BBDD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Rent_Flat_BBDDEntities" connectionString="metadata=res://*/Context.EntidadRentingAzure.csdl|res://*/Context.EntidadRentingAzure.ssdl|res://*/Context.EntidadRentingAzure.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=servidortajamarsmc.database.windows.net;initial catalog=Rent_Flat_BBDD;persist security info=True;user id=adminsandra;password=Tajamar2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntidadAzure" connectionString="metadata=res://*/Context.EntidadAzure.csdl|res://*/Context.EntidadAzure.ssdl|res://*/Context.EntidadAzure.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=servidortajamarsmc.database.windows.net;initial catalog=Rent_Flat_BBDD;persist security info=True;user id=adminsandra;password=Tajamar2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>